    body{ 
        margin:0;
        font-family: system-ui, -apple-system, Segoe UI, Roboto, sans-serif; 
        background:#383a4e;
        font-family: "Handjet", sans-serif;
        font-weight: 700;
    }
    #gameWrap{ 
        width:100%; 
        max-width:420px; 
        margin:20px auto; 
        position:relative;
        margin-bottom: 10px;
    }
    canvas{ 
        width:100%; 
        height:auto; 
        background-color:  rgb(7, 16, 62);
        display:block; 
        box-shadow:0 6px 18px rgba(0,0,0,0.12); 
        border-radius:8px;
        filter: drop-shadow(0px 25px 0px rgb(1, 1, 6));
        margin-bottom: 10px;
    }
    #overlay{ 
        position:absolute; 
        inset:0; 
        display:flex; 
        align-items:center; 
        justify-content:center; 
        background:rgba(0,0,0,0.45); 
        color:#fff; 
        font-size:18px; 
        gap:12px; 
        flex-direction:column; 
        visibility:hidden; 
        border-radius:8px ;
        
    }
    .btn{ 
        padding:10px 14px; 
        border-radius:8px; 
        border:none; 
        cursor:pointer 
    }
    .btn-primary{ 
        background:#2d8fdd; 
        color:#fff 
    }
    .small{ 
        font-size:13px 
    }
    #info{ 
        max-width:420px; 
        margin:10px auto; 
        text-align:center 
    }
    #points{
        background-color: rgb(2, 150, 81);
        margin: 0;
        padding: 17px;
        width: fit-content;
        border-radius: 10px;
        filter: drop-shadow(0px 8px 0px rgb(2, 124, 77));
        color: #eeeeee;
        font-size: 40px;
    }